<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" href="#">Path To The Iron Throne </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/members">Home</a>
            <a class="nav-item nav-link" href="/house">Noble Houses</a>
            <a class="nav-item nav-link active" href="/characters">Characters <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/map">Map</a>
        </div>
    </div>
</nav>
<hr>

<div class="container">
    <div class="row">
        <h2 class="member-name">Characters</h2>
        <hr>
        <div>
        {{#each characters}}
            <h4>{{ person }}: {{title}} </h4>
        {{/each}}
        </div>
    </div>
</div>

<script type="text/javascript" src="js/characters.js"></script>