form.signup,
form.login {
  margin-top: 50px;
}

body{
  background-color: black !important;
}

hr{
  height: 5px !important;
  border-top: 1px solid white !important;
}

.title{
  color: #ffffff;
  font-family: "Alegreya SC";
  font-size: 35px !important;
}
h2{
  color: #ffffff;
  font-family: "Alegreya SC";
  font-size: 30px;
}
.sign-up{
  color: #ffffff;
  font-family: "Alegreya SC";
  font-size: 25px;
  float: right;
}
.forgot-password{
    color: #ffffff;
    font-family: "Alegreya SC";
    font-size: 25px;
    float: left;
  }
a{
  font-family: "Alegreya SC";
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}
.submit{
  background-color: white;
}
.card{
  border-color: #424242;
  border: 0px;
}
.card-login{
  background-color: #424242;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  border: 0px;
}
.card-signup{
  background-color: #424242;
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
  border: 0px;
}
.card-text{
  color: #ffffff;
  font-family: "Alegreya SC";
  font-size: 25px;
}
.btn-lg{
  background-color: white;
  border-color: white;
  color: black;
}
.roundbtn{
  border-radius: 25px;
}
.member-name{
  text-align: center;
}
p{
  color: #ffffff;
  font-family: "Alegreya SC";
}
.welcome-h2{
  text-align: center;
}
.welcome-p{
  text-align: center;
}
.welcome-card{
  background-color: black;
}
.welcome-btn{
  background-color: #424242;
  border-color: #424242;
  color: white;
}

h4{
  font-size: 20px;
  text-align: left;
  color: #ffffff;
}

.is_alive, .house{
  color: #d3d3d3 !important;
}

.column{
  float: left;
}