form.signup,
form.login {
  margin-top: 50px;
}

body{
  background-color: black !important;
}

hr{
  height: 15px;
  border-top: 5px solid white;
}

h2{
  color: #ffffff;
  font-family: "Alegreya SC";
}
a{
  font-family: "Alegreya SC";
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}